/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* Import Google Fonts (Barlow) */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');